<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="digory.ichoose">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FoodAndDrinkActivity" />
        <activity android:name=".SnackActivity" />
        <activity android:name=".full_screen_buttons.ToiletActivity" />
        <activity android:name=".full_screen_buttons.BreakfastActivity" />
        <activity android:name=".full_screen_buttons.LunchActivity" />
        <activity android:name=".full_screen_buttons.DinnerActivity" />
        <activity android:name=".full_screen_buttons.DrinkActivity" />
        <activity android:name=".full_screen_buttons.ChocolateActivity" />
        <activity android:name=".full_screen_buttons.SandwichActivity" />
        <activity android:name=".full_screen_buttons.AppleActivity" />
        <activity android:name=".full_screen_buttons.BananaActivity" />
        <activity android:name=".full_screen_buttons.BiscuitActivity" />
        <activity android:name=".full_screen_buttons.CerealActivity" />
        <activity android:name=".full_screen_buttons.ToastActivity" />
        <activity android:name=".full_screen_buttons.OrangeActivity" />
        <activity android:name=".full_screen_buttons.SweetsActivity" />
        <activity android:name=".full_screen_buttons.CrispsActivity" />
        <activity android:name=".ActivitiesActivity" />
        <activity android:name=".full_screen_buttons.BookActivity" />
        <activity android:name=".full_screen_buttons.ComputerActivity" />
        <activity android:name=".full_screen_buttons.CookActivity" />
        <activity android:name=".full_screen_buttons.DrawActivity" />
        <activity android:name=".full_screen_buttons.GardenActivity" />
        <activity android:name=".full_screen_buttons.ParkActivity" />
        <activity android:name=".full_screen_buttons.PuzzleActivity" />
        <activity android:name=".full_screen_buttons.TvActivity" />
        <activity android:name=".full_screen_buttons.VideoGameActivity" />
        <activity android:name=".TravelActivity"></activity>
    </application>

</manifest>